.profile_container
	display: flex
	width: 300px
	flex-direction: row
	justify-content: space-around
	margin-top: 20px

.profile_img
	border-radius: 50%
	height: 150px
	width: 150px

.profile_login_div
	display: flex
	flex-direction: column


.profile_login_button
	background-color: #0072ff
	height: 40px
	width: 150px
	display: flex
	justify-content: center
	align-items: center
	color: white

.profile_login_text
	margin-bottom: 10px
